(cors) {
	@origin header Origin {args[0]}
	header @origin Access-Control-Allow-Origin "{args[0]}"
	header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}

{$CADDY_DOMAIN}:{$CADDY_PORT} {
  log {
    format console
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }
  
  handle /api/* {
    reverse_proxy futurefintechsurvey_api:8000 {
        header_up X-Real-IP {remote_host}
      }
  }
  import cors ${CADDY_DOMAIN}:{$CADDY_PORT}
  root * /static
  file_server 
}

